@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  /* blue-600 */
  --color-primary-dark: #1d4ed8;
  /* blue-700 */
  --color-secondary: #f4f4f5;
  /* zinc-100 */
  --color-secondary-dark: #e4e4e7;
  /* zinc-200 */
  --color-accent: #a3e635;
  /* lime-400 */

  --font-sans: var(--font-inter);
  --font-display: var(--font-outfit);

  --animate-fade-in: fade-in 0.5s ease-out;
  --animate-slide-up: slide-up 0.5s ease-out;

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes slide-up {
    from {
      transform: translateY(20px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

/* Custom Utilities */
.text-outline {
  -webkit-text-stroke: 1px currentColor;
  color: transparent;
}